<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.github.mpao.baking"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:name=".di.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- launchMode singleTop: properly manage upnavigation from a StepActivity
        to the DetailActivity, and the intent will not be lost
        if there is already an Activity instance with the same type at the top of stack in the caller Task,
        there would not be any new Activity created, instead an Intent will be sent
        to an existed Activity instance through onNewIntent() method-->
        <activity
            android:name=".ui.DetailActivity"
            android:parentActivityName=".ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.StepActivity"
            android:parentActivityName=".ui.DetailActivity"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>